* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;

}

#slider-home .carousel-indicators {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  text-align: center;
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

.overlay{
  background: rgba(255, 255, 255, 0.19);
  overflow: hidden;
  background-size: cover;
}

p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

a {
  color: #267df4;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}


.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  color: #26272d;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-lg {
  padding: 14px 48px;
}

.btn-blue {
  background-color: #267df4;
  color: white;
}

.btn-green {
  background-color: #6fc754;
  color: white;
}

.btn-dark {
  background-color: #131315;
  color: white;
}

.btn-blue:hover, .btn-blue:focus,
.btn-green:hover, .btn-green:focus,
.btn-dark:hover, .btn-dark:focus {
  color: #ffffff;
}




#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
}

#main-nav #navigation {
  color: #26272d;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 2;
}

#main-nav #navigation:hover {
  color: #267df4 !important;
}

#main-nav ul {
  padding: 0;
}

#main-nav ul li {
  display: inline-block;
  margin-right: 40px;
}

#main-nav ul li a {
  color: #26272d;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #267df4;
}

#main-nav ul li .help {
  color: rgba(38, 39, 45, 0.4);
}

#main-nav ul li .btn-blue {
  color: #ffffff;
}

#main-nav ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav ul li:last-child {
  margin-right: 0;
}

#main-nav ul.left {
  text-align: left;
  margin-left: 50px;
}

#main-nav ul.left li {
  display: inline-block;
  padding: 9px 0;
}

#main-nav ul.left li:first-child {
  margin-right: 30px;
}

#main-nav ul.right {
  text-align: right;
}

#main-nav .logo {
  display: inline-block;
  padding-top: 11px;
}

#main-nav #slide_out_menu {
  position: fixed;
  display: block;
  width: 200px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #26272d;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

#main-nav #slide_out_menu .menu-close {
  position: absolute;
  color: #ffffff;
  right: 20px;
  top: 52px;
}

#main-nav #slide_out_menu ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu ul li {
  display: block;
  margin: 10px 0;
}

#main-nav #slide_out_menu ul li a {
  color: #ffffff;
}

#main-nav #slide_out_menu ul li a:hover {
  color: #267df4;
}

#main-nav #slide_out_menu ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu ul li:last-child {
  margin-top: 20px;
}

#main-nav #slide_out_menu .slide_out_menu_footer {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 20px 0px;
}

#main-nav #slide_out_menu .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.xs-screen {
  overflow-y: auto;
}

#main-nav #slide_out_menu.xs-screen ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer {
  position: relative;
  padding: 0;
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.open {
  left: 0;
}

#main-nav.active {
  background-color: #ffffff;
  padding: 24px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}


#slidercontainer { 
  position: relative; 
  overflow: hidden; 
  background: #000 
 }

 #slidercontainer { 
  width: 768px;
  height: 341px; 
 }

 #css3slider img { 
  width: 768px;
  height: 341px; 
  float: left;
 }

 #css3slider { 
  position: absolute; 
  width:3900px;  
  -webkit-animation-name:slider;
  -webkit-animation-duration:15s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-name:slider;
  -moz-animation-duration:15s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count:infinite;
  -o-animation-name:slider;
  -o-animation-duration:15s;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count:infinite;
  animation-name:slider;
  animation-duration:15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

@-webkit-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }       
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0;}   	
  100% { left: 0; opacity: 0; }
} 

@-moz-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }       
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0;}   	
  100% { left: 0; opacity: 0; }
} 

@-o-keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }     
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0; }   	
  100% { left: 0; opacity: 0; }
} 

@keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }     
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     
  70% { left: -1536px; opacity: 1; }     
  72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0; }   	
  100% { left: 0; opacity: 0; }
}

#css3slider:hover { 
  -webkit-animation-play-state:paused; 
  -moz-animation-play-state:paused; 
  -o-animation-play-state:paused; 
  animation-play-state:paused; }
}

#css3slider img { 
  float: right; 
}

#slidercontainer:after { 
  content: "❚❚"; 
  font-size: 150px; 
  position: absolute; 
  z-index: 12; 
  color: rgba(255,255,255, 0); 
  left: 300px; top: 80px; 
  -webkit-transition: 1s all ease-in-out; 
  -ms-transition: 1s all ease-in-out; 
  -moz-transition: 1s all ease-in-out; 
  -o-transition: 1s all ease-in-out; 
  transition: 1s all ease-in-out; 
}

#slidercontainer:hover:after { 
  color: rgba(255,255,255, 0.6);  
}




#header {
  /*padding: 208px 0 211px;*/
  padding : 176px 0 385px;
  background-image: url("../images/banner_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#header p {
  font-size: 20px;
  color: #000000;
}

#header .header_iphone {
  position: absolute;
  bottom: -310px;
  left: 50%;
  margin-left: -185px;
}

#header .video-btn {
  margin-top: 48px;
}

#header .video-btn i {
  margin-right: 15px;
}


#features {
  padding: 120px 0;
}

#features .feature {
  padding: 0px 38px;
}

#features .feature .f-icon {
  margin-bottom: 48px;
}

#features .feature .f-icon i {
  font-size: 42px;
  color: #267df4;
}


#isi2 {
  position: relative;
  padding: 79px 0 330px;
}

#isi2 .btns-container {
  margin-top: 62px;
}

#isi2 .btns-container a {
  margin-right: 20px;
  margin-bottom: 18px;
}

#isi2 .btns-container a i {
  margin-left: 50px;
  font-size: 14px;
}

#isi2 .btns-container a:last-child {
  margin-right: 0;
}

#isi2 .map {
  position: absolute;
  bottom: 110px;
  right: 50%;
}


#harga {
  position: relative;
  overflow: hidden;
}

#harga .partners {
  margin-top: 52px;
}

#harga .partners .title {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

#harga .partners ul {
  margin: 26px 0 0;
}

#harga .partners ul li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

#harga .partners ul li:last-child {
  margin-right: 0;
}

#harga .map-showcase {
  position: absolute;
  bottom: 110px;
  left: 50%;
}

#indah {
  padding: 140px 0 50px;
  position: relative;
  background-color: #f4f4f5;
  overflow: hidden;
}

#indah h2 {
  margin-bottom: 0;
}

#indah hr {
  width: 50px;
  height: 2px;
  margin: 40px auto;
  background-color: #267df4;
}

#indah .images-list {
  width: 100%;
  position: relative;
}

#indah .images-list li {
  position: absolute;
  width: 320px;
  top: 92px;
  box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15);
}

#indah .images-list li img {
  max-width: 100%;
}

#indah .images-list li:nth-child(1) {
  left: 50%;
  margin-left: -880px;
}

#indah .images-list li:nth-child(2) {
  left: 50%;
  margin-left: -530px;
}

#indah .images-list li:nth-child(4) {
  right: 50%;
  margin-right: -530px;
}

#indah .images-list li:nth-child(5) {
  right: 50%;
  margin-right: -880px;
}

#indah .images-list li.main-img {
  width: 395px;
  top: 0;
  left: 50%;
  margin-left: -193px;
  box-shadow: none;
}

#indah .images-list li.main-img img {
  max-width: 100%;
}


#footer {
  color: #8c8f94;
  font-size: 16px;
}

#footer .footer-container {

}

#footer .copyright-container {

}

#footer .logo {
  margin-bottom: 36px;
}

#footer p {
  font-size: 14px;
  line-height: 24px;
}

#footer .app_download img {
  margin-top: 6px;
}

#footer ul li .title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #26272d;
  font-size: 12px;
}

#footer ul li a {
  color: #8c8f94;
  text-decoration: none;
  line-height: 36px;
}

#footer ul li a:hover {
  color: #26272d;
}

#footer .socials {
  margin-top: 32px;
}

#footer .socials li {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

#footer .socials li a {
  color: rgba(19, 19, 21, 0.3);
}

#footer .socials li:last-child {
  margin-right: 0;
}

#footer .more-info {
  line-height: 24px;
  font-size: 14px;
}

#footer .made-by {
  font-size: 9px;
  font-weight: 700;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer .made-by a img {
  margin-top: -8px;
  margin-left: 8px;
}


@media only screen and (max-width: 992px) {

  #main-nav .col-md-4:first-child,
  #main-nav .col-md-4:last-child {
    display: none;
  }
  #main-nav .logo {
    padding-top: 0px;
  }
  #main-nav #slide_out_menu {
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    left: -300px;
  }
  #main-nav #slide_out_menu .menu-close {
    top: 41px;
  }
  #features {
    padding: 100px 0;
  }
  #features .feature-item {
    margin-bottom: 80px;
  }
  #features .feature-item:last-child {
    margin-bottom: 0;
  }
  #features .feature {
    padding: 0px 0px;
  }
  #features .feature .f-icon {
    margin-bottom: 48px;
  }
  #features .feature .f-icon i {
    font-size: 42px;
    color: #267df4;
  }

  #isi2 {
    padding: 80px 0 60px;
  }
  #isi2 .map {
    position: relative;
    bottom: auto;
    right: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #isi2 .map img {
    width: 100%;
  }
  /*** Map Feature ***/
  #harga {
    padding: 80px 0 100px;
  }
  #harga .map-showcase {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #harga .map-showcase img {
    width: 100%;
  }
  #indah {
    padding: 120px 0 620px;
  }
  #indah .images-list li {
    position: absolute;
    width: 240px;
    top: 68px;
  }
  #indah .images-list li img {
    max-width: 100%;
  }
  #indah .images-list li:nth-child(1) {
    margin-left: -680px;
  }
  #indah .images-list li:nth-child(2) {
    margin-left: -410px;
  }
  #indah .images-list li:nth-child(4) {
    margin-right: -410px;
  }
  #indah .images-list li:nth-child(5) {
    margin-right: -680px;
  }
  #indah .images-list li.main-img {
    width: 295px;
    margin-left: -148px;
  }
  
  #footer .socials {
    margin-bottom: 60px;
  }
  #footer .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-links:last-child {
    margin-bottom: 0;
  }

  .copyright-container .text-right {
    text-align: left;
    margin-top: 22px;
  }
}

@media only screen and (max-width: 768px) {
 
  #indah {
    padding: 120px 0 460px;
  }
  #indah .images-list li {
    position: absolute;
    width: 178px;
    top: 52px;
  }
  #indah .images-list li img {
    max-width: 100%;
  }
  #indah .images-list li:nth-child(1) {
    margin-left: -502px;
  }
  #indah .images-list li:nth-child(2) {
    margin-left: -304px;
  }
  #indah .images-list li:nth-child(4) {
    margin-right: -304px;
  }
  #indah .images-list li:nth-child(5) {
    margin-right: -502px;
  }
  #indah .images-list li.main-img {
    width: 220px;
    margin-left: -110px;
  }
}

@media only screen and (max-width: 575px) {
  input[type="text"],
  input[type="email"] {
    padding: 16px 26px;
  }
  
  #header {
    padding: 160px 0 460px;
  }
  #header .header_iphone {
    bottom: -220px;
    margin-left: -140px;
    width: 280px;
  }
  
  #footer .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #footer .footer-links {
    width: 100%;
  }
}